  {% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  {{ fn('wp_body_open') }}

  {# Skiplink #}
  <a class="skip-link screen-reader-text" href="#content">
    {{ __( "Aller au contenu", "textdomain") }}
  </a>

  {# Header #}
  <header class="header">
    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
  </header>

  {# Main #}
  <main id="content" role="main" class="content-wrapper">
    {% block content %}
      {# Contnent #}
    {% endblock %}
  </main>

  {# Footer #}
  <footer id="footer">
    {% block footer %}
      {% include 'footer.twig' %}
      {{ fn('wp_footer') }}
    {% endblock %}
  </footer>
</body>
</html>
