{% if menu %}
	<ul class="nav-list">
    {% for item in items %}
      <li class="nav-item {{ item.classes | join(' ') }}">
        <a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        {% include "menu.twig" with {'items': item.children} %}
      </li>
    {% endfor %}
	</ul>
{% endif %}
